<div class="chat-wrapper">
  <div class="chat">
    <div class="day-message" *ngFor="let day of daysMessages">
      <h4>{{day.date}}</h4>
      <div class="message-wrapper"
           *ngFor="let message of day.messages; index as index; last as isLast"
           [ngClass]="{'guest': message.author.type !== 'yura'}">
        <div class="avatar">
          <img *ngIf="!(!isLast && day.messages[index+1].author.type === message.author.type)"
               [src]="message.author.avatar || 'assets/img/yura.jpg'" alt="Andriy">
        </div>
        <p class="message">{{message.text}}</p>
      </div>
    </div>
  </div>
</div>
