<div class="chat-wrapper">
  <div class="chat"
       #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="message-wrapper"
         *ngFor="let message of messagesAsync; index as index"
         [ngClass]="{'guest': message.author.type !== 'yura'}">
      <h4 *ngIf="isAnotherDay(index)">
        {{dateFormat(message.date)}}
      </h4>
      <div class="avatar" [ngClass]="{'hidden-img': !isMyMessageAndLatestOne(index)}">
        <img [src]="message.author.avatar || 'assets/img/yura.jpg'" alt="Andriy">
      </div>
      <p class="message">{{message.text}}</p>

    </div>  
    <div class="message-wrapper">
      <div class="avatar hidden-img">
      </div>
      <p class="message typing" *ngIf="isTyping">
        Yuriy is typing
        <span class="dots">
          <span class="dot dot-1"></span>
          <span class="dot dot-2"></span>
          <span class="dot dot-3"></span>
        </span>
      </p>
    </div>
  </div>
  <div class="new-message">
    <textarea name="message" rows="3"
              placeholder="Enter your message"
              (keyup.enter)="addNewMessage($event)"
    ></textarea>
  </div>
</div>
