
h2{
  font-size: 2em;
  font-weight: 200;
  margin: 40px 0px;
}
it
form{
  display: flex;
  justify-content: center;
  input{
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(#fff, 0.71);
    padding: 10px 0;
    min-width: 150px;
    font-size: 1em;
    height: 40px;
    background-color: transparent;
    margin-right: 30px;
    color: #fff;
    text-transform: capitalize;
    transition: border-color 0.2s ease;
    &:focus{
      border-color: #fff;
    }
  }

  .btn-light{
    text-transform: none;
    font-size: 1.5em;
    line-height: 1.41;
    i.icon-waving{
      margin: 0px 2px 0px;
    }
  }
}
