<div class="modal-black-bg">
  <div class="modal modal-blue">
    <!--<p class="greetings">Hi, I am Anna, digital hostess at CodeLions</p>-->
    <h2>{{getGreetings()}}</h2>

    <form (submit)="confirmModal()">
      <input
            *ngIf="!isNameStored"
            type="text"
            placeholder="Name"
            [(ngModel)]="name"
            name="customerName">
      <button class="btn btn-light"
        [disabled]="!name && !isNameStored">
        Hi <i class="icon icon-waving"></i>
      </button>
    </form>
  </div>
</div>
