<section class="container">
  <!--<aside class="teams">-->
    <!--<app-teams></app-teams>-->
  <!--</aside>-->
  <!--<main class="chat">-->
    <!--<app-chat></app-chat>-->
  <!--</main>-->
  <div class="start-bg"
    [ngClass]="{'blur': showModalName}">
    <div class="lines">
      <span class="run-line run-line_to-bottom"></span>
      <span class="run-line run-line_to-bottom"></span>
      <span class="run-line run-line_to-bottom"></span>
      <span class="run-line run-line_to-right"></span>
    </div>
    <div class="top-section">
      <div class="avatar">
        <img src="assets/img/yura.jpg" alt="Avatar">
      </div>
      <p class="margin-options ukraine-flag">
        Hi <i class="icon icon-waving"></i>
        , I'm Yuriy Deneha. Tech guy based in Ukraine</p>
      <p> Contact me for
        <span class="services">{{title}}</span>
      </p>
    </div>

    <div class="bottom-section">
      <app-chat
        *ngIf="showChat"
      ></app-chat>
    </div>
    <div class="logo">
      <img src="assets/img/logo_black.png" alt="Logo">
    </div>
  </div>

  <app-what-is-your-name
    *ngIf="showModalName"
    (close)="onModalClose($event)"
  ></app-what-is-your-name>

</section>

