<section class="container">
  <!--<aside class="teams">-->
    <!--<app-teams></app-teams>-->
  <!--</aside>-->
  <!--<main class="chat">-->
    <!--<app-chat></app-chat>-->
  <!--</main>-->
  <div class="start-bg">
    <div class="lines">
      <span class="run-line run-line_to-right"></span>
      <span class="run-line run-line_to-right"></span>
      <span class="run-line run-line_to-right"></span>
      <span class="run-line run-line_to-bottom"></span>
    </div>
    <div class="left-section">
      <div class="avatar">
        <img src="assets/img/yura.jpg" alt="Avatar">
      </div>
      <p class="margin-top ukraine-flag">Hi, I'm Yura. Tech expert based in Ukraine</p>
      <p> Contact me for
        <span class="services">{{title}}</span>
      </p>
    </div>

    <div class="right-section">
      <app-chat></app-chat>
    </div>

    <div class="logo">
      <img src="assets/img/logo_white.png" alt="Logo">
    </div>
  </div>
</section>

<!--<app-what-is-your-name></app-what-is-your-name>-->
