<div class="team-link">
  <div class="img-wrapper">
    <img [src]="conversation.img" alt="Team avatar">
  </div>
  <div class="last-message">
    <div class="first-row">
      <h4 class="first-name">{{conversation.name}}</h4>
      <span class="time">{{conversation.lastMessage.date}}</span>
    </div>
    <div class="second-row">
      <p class="text">{{conversation.lastMessage.author.firstName}}: {{conversation.lastMessage.text}}</p>
      <i class="small-avatar">
        <img [src]="conversation.lastMessage.author.img" alt="Author avatar">
      </i>
    </div>
  </div>
</div>
